H1 {
   font-family: Verdana, Tahoma, sans-serif;
   text-align:center; text-decoration: underline;
   clear: both;
   }
H2 {
   font-family: "Lucida Sans", "Lucida Sans Unicode", sans-serif;
   text-indent:-1in;
   margin-left:1in;
   clear: both;
   }

H2 B { background-color:#FFEBCD; /*blanchedalmond*/
   color: black;
   }

H3 {
   clear: both;
   }

P {	/* browser defaults differ, so set it up explicitly so I get consistant results when different elements
	are adjecent, particularly using P for middle items (only) in a list. */
	margin-top: 1em;
	margin-bottom: 1em;
	}

PRE {
	font-family: "Lucida Sans Typewriter", monospace;
	overflow: auto;
	}

.PRElike { /* if I want to do something not allowed in a PRE */
	/* make it the same as P */
	display: block;
	font-family: "Lucida Sans Typewriter", monospace;
	white-space: pre;
	overflow: auto;
	color: #000;
	border-style: solid;
	padding: 0.5em;
	page-break-inside: avoid;
	}

PRE.screenshot {
	background-color: black;
	color: white;
	font-family: "Lucida Sans Typewriter", monospace;
/*	font-weight: bold; */
	font-size: 0.9em;
	padding: 1em 0.5em 1em;
	margin-top: 0;
	border-color: ActiveBorder;
	border-style: solid ridge ridge;
	border-width: thin thick thick;
	page-break-inside: avoid;
	}


PRE.screenshot I {
	color: #ff0;
	background-color: inherit;
	}

P EM {
	background-color: #fffff0;
	font-style: normal;
	}

.code,CODE {
	font-family: "Lucida Sans", "Lucida Sans Unicode", sans-serif;
	font-size: 0.9em;
	color: #551122;
	}

A, A CODE, A.code {
	color: rgb(0,0,238);
	text-decoration: inherit;
	}

PRE.code,  P[class~="code"][class~="PRElike"]{
	background-color: #EEE;
	color: #000;
	border-style: solid;
	padding: 0.5em;
	page-break-inside: avoid;
	}

.filename {
	font-family: "Arial Narrow",sans-serif;
	font-stretch: condensed;
	}

PRE I , .PRElike I{
	color: #006;
	background-color: #EEE
	}

PRE.code EM {
	background-color: #EEEED4;
	font-style: inherit;
	}

.left {
	float:left;
	margin-top:0;
	margin-right:1em
	}

.right {
	float:right;
	margin-top:0;
	margin-left:1em
	}

.screenshot .prompt {
	color: #aaa;
	background-color: inherit;
	}

.screencaption {
	font-family: sans-serif;
	font-weight: bold;
	background-color: ActiveCaption;
	color: CaptionText;
	margin: 0;
	padding: 0.2em;
	padding-left: 1em;
	border-color: ActiveBorder;
	border-style: ridge ridge none;
	border-width: thick;
	}

/* BODY { font-family: "GeoSlab703 Lt BT" } */
BODY {
	font-family: "Georgia", serif;
	background-color: white;
	color: black;
	}

.mematt {  /* MEMber ATTributes */
   font-size: smaller;
   text-align:right;
   color: green;
   background-color: inherit;
	page-break-inside: avoid;
   }

.memof {  /* MEMber OF */
	float:left;
	font-size: smaller;
	padding:0; margin:0;
	font-family: "Lucida Sans", "Lucida Sans Unicode", sans-serif;
	color: green;
   background-color: inherit;
	}

A:link, A:visited { text-decoration: none }
A:hover[TARGET=index], A:hover[TARGET=index] CODE {
	background-color: green;
	color: #fff;
	}
A:hover[HREF] { text-decoration: underline }

H2:hover A { color: blue }

H2 A { color: black }

.banner {
   background-color: #ffffdd;
   font-weight:bold;
   padding:1em;
   border-style:solid;
   margin: 0;
   }

@media print {
.banner {
   background-color: white;
   font-weight:normal;
   padding:0;
   border-style: none;  /* this doesn't seem to have any effect */
   margin: 0;
   }
	}

.banner2 {
	margin-left: 20%;
	font-family: sans-serif;
	}

.sidebar {
	font-family: "Verdana", sans-serif;
	background-color: #fffff8;
	font-size: smaller;
	border-style: solid;
	border-color: #888888;
	margin: 0;
	padding:1em;
	}

.boxed {
	background-color: #fffff8;
	border-style: solid;
	border-color: #888888;
	padding:1em;
	margin-left: 2.5em;
	margin-right: 2.5em;
	page-break-inside: avoid;
	}

OL.boxed {
	}

OL.boxed LI {
	margin-left: 1em;
	}

.footnoter {
	vertical-align: super;
	font-size: smaller
	}

P.footnote {
	font-weight:bold;
	color: green;
	background-color: white;
	}

HR.sep1 {
	border:none;
	background-color: black;
	height: 10px;
	-moz-border-radius: 5px;
	}

.signame {
	background-color: #ffffdd;
	}

IFRAME {
	border: none;
	width: 100%;
	}

IFRAME#page_footer {
	margin-bottom: 0;
	margin-top: 0;
	padding-bottom: 0;
	}

IFRAME#page_banner {
	margin: 0;
	padding: 0;
	}

#toppane {
	position: fixed;
	top: 0;  left: 0;
	background-color: #66cc66; /* dull light green */
	margin-top: 0;
	padding-bottom: 3pt;
	width: 100%;
	}

#toppane .button {
	background-color:#33ff33;
	border-style:outset;
	padding-left: 0.2em;
	padding-right: 0.5em;
	}

.button B {
	font-size: 150%;
	}

.prognote {
	background-color: #ffffdd;
	color: #808000;
	font-style: italic;
	}

.render_warning {
	background-color: #ffffdd;
	color: green;
	font-weight: bold;
	}

.render_warning A:link, .render_warning A:visited {
	text-decoration: underline;
	}

P.render_warning {
	padding: 1em;
	}

.caption {
	font-family: Verdana, Tahoma, sans-serif;
	text-align:center;
	font-style: normal;
	font-weight: bold;
	margin: 0;
	display: none;
	}

.capref {
	display: none;
	}

.capref2 { display:inline }

.caption + PRE {
	margin-top: 0;
	}

@media print {

.caption { display: block }
.capref { display: inline }
}

ABBR.subtle, ACRONYM.subtle {
	border: none;
	cursor: help;
	}

CODE > DFN, .code > DFN {
	font: inherit;
	}

DL.members > DT {
	font-weight: bold;
	}

DL.spaceafter > DD {
	margin-bottom: 0.8em;
	}

DL.nobreak DT {
	float: left;
	}

TABLE.t1 {
	border-collapse: collapse;
	border-style: solid;
	margin-left: 1em;
	border-color: grey;
	}

TABLE.t1 TD, TABLE.t1 TH {
	padding-left: 0.3em;
	padding-right: 0.3em;
	border-style: solid;
	border-color: grey;
	}

TABLE.t1 TD {
	border-width: thin;
	}

TABLE.t1 TH {
	border-left-width: thin;
	border-right-width: thin;
	}

LI.nobul {
	list-style-type: none;
	}


